.logo-container {
    
    svg {
        display: block;
        font: 90.5em 'Arial';
        width: 100%;
        height: 100%;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }
    
    .text-copy:nth-child(1){
        stroke: #2596be;
        animation-delay: -1s;
    }
    
    .text-copy:nth-child(2){
        stroke: #041014;
        animation-delay: -2s;
    }
    
    .text-copy:nth-child(3){
        stroke: #145369;
        animation-delay: -3s;
    }
    
    .text-copy:nth-child(4){
        stroke: #25a5be;
        animation-delay: -4s;
    }
    
    .text-copy:nth-child(5){
        stroke: #9925be;
        animation-delay: -5s;
    }
    
    @keyframes stroke-offset{
        100% {stroke-dashoffset: -35%;}
    }
}

/* .svg-container {
    stroke: #ffd700;
    stroke-width: 10px;
}
 */
/* lower the size of the logo  */
/* @media screen and (max-width: 800px) {
    
    .logo-container {
        width: 200px;
    }
} */

/* @media screen and (max-width: 1032px) {
    .logo-container {
        height: 250px;
    }
} */