.login-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }
    }

    input[type='password'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .flat-button {
        color: #fff;
        background: 0 0;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #145369;
        float: right;
        border-radius: 4px;

        &:hover {
            background: #145369;
            color: #333;
            cursor: pointer;
        }
    }

    .error {
        color: red;
        background: pink;
        border: 1px solid red;
        border-radius: 4px;
        padding: 8px;
        margin: 10px 0;
    }
}
